# Node.js
node_modules/
.env

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional
*.log
.vscode/
.idea/

# Sensitive / local env
.env
**/.env

# Dependencies
node_modules/
**/node_modules/

# Optional system/IDE files
.vscode/
*.log